[shell]
program = "/bin/zsh"
#args = ["-l", "-c", "zellij"]

[env]
EDITOR = "nvim"

[window]
option_as_alt = "Both"
{{ if eq .chezmoi.os "darwin" }}
  {{ if eq .chezmoi.arch "arm64" }}
startup_mode = "Maximized"
  {{ else }} {{/* "amd64" */}}
startup_mode = "SimpleFullscreen"
  {{ end }}
{{ else }} {{/* "linux" */}}
startup_mode = "Maximized"
{{ end }}

[font]
size = 13
normal = { family = "JetBrainsMono Nerd Font" }
